* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 200ms;
  -o-transition: background 200ms;
  transition: background 200ms;
}

body {
  font-size: 14px;
  line-height: 1.7;
  color: #444;
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearf:after,
.clearf:before {
  content: " ";
  display: block;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  display: block;
  position: relative;
  min-height: 1px;
  float: left;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.top-nav {
  background: #eee;
}

.top-nav .item {
  display: inline-block;
  padding: 6px 10px;
  color: #666;
}

.top-nav .item:hover {
  color: #333;
}

.header {
  padding: 20px 0;
}

.header .logo {
  font-size: 30px;
}

.header .search-bar {
  border: 2px solid #dd182b;
  background: #dd182b;
}

.header .search-bar input,
.header .search-bar button {
  display: block;
  float: left;
  border: 0;
  padding: 10px;
  outline: 0;
}

.header .search-bar input {
  width: 80%;
}

.header .search-bar input:focus {
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,.3);
}

.header .search-bar button {
  width: 20%;
  background: #dd182b;
  color: #fff;
}

.header .search-bar button:hover {
  background: #ce1829;
}

.header .cart {
  text-align: center;
}

.header .cart a {
  float: right;
  padding: 10px;
  background: #fff;
  border: 2px solid #eee;
  width: 80%;
  color: #dd182b;
}

.main-promote {
  background: #dedede;
}

.main-promote .cat {
  background: #6e6568;
  color: #fff;
}

.main-promote .cat .item {
  padding: 14px 20px;
}

.main-promote .cat .item:hover {
  background: rgba(0,0,0,.2);
}

.main-promote .info {
  padding: 10px;
  background: #fff;
  color: #888;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.main-promote .info > * {
  margin-bottom: 10px;
}

.main-promote .info .avatar {
  width: 50px;
  height: 50px;
  background: #aaa;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.cat-promote .title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 22px;
  background: #dd182b;
  margin-right: 10px;
}
.cat-promote .title {
  font-size: 22px;
}

.cat-promote .item {
  padding: 5px;
}

.cat-promote .card {
  height: 300px;
  background: #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.footer {
  margin-top: 30px;
  padding: 30px 0;
  background: #eee;
  text-align: center;
  color: #999;
}

.footer a {
  color: #999;
}
